#_canopy {
  padding-top: 15px;
  padding-bottom: 55px;

  h1 {
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }

  hr {
    width: 120px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #ccc;
    margin: 0px auto;
    padding-bottom: 30px;
  }

  section.canopy-topic-section {
    padding-top: 40px;
  }

  section.canopy-selected-section {
    /* Removing DOM elements from the bottom of the screen can force the page to scroll upward to the existing elements
    which is not animated. If we keep a padding on the bottom of the last element just beyond the viewport, then
    removal of elements from the bottom of the visible stack never brings the real bottom of the page into view, and so
    the scroll upwards can be animated using the window.scrollTo method. */

    padding-bottom: calc(80vh);
  }

  section {
    padding-top: 30px;
  }

  p {
    overflow: hidden;
    font-size: 22px;
    max-width: 700px;
    margin: auto;

    line-height: 1.3;
    letter-spacing: -.003em;
    font-weight: 400;
  }

///////////// Link styles /////////////////

  a.canopy-selectable-link {
    text-decoration: underline #DDDDDD;
    color: black;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline:0;
    }

    &.canopy-open-link {
      text-shadow: .8px 0px 0px #000000;
      text-decoration: underline;
    }

    &.canopy-selected-link {
      background-color: #edeefc;
      text-shadow: 0px 0px 0px #000000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    /*
    &.canopy-dfs-previously-selected-link {
      color: #ff0000 !important;
    }

    &.canopy-reverse-dfs-previously-selected-link {
      color: #0000ff !important;
    }
    */

    &.canopy-url-link {
      display: inline;

      svg {
        margin-left: 2px;
      }
     }
  }

/////////////////////////////////////////////

  span.canopy-text-span {
    display: block;
  }

  hr.canopy-footnote-rule {
    width: 700px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 12px 0;
    padding: 0;
  }

  sup {
    font-size: 60%;
    padding: 2px;
  }

  .canopy-footnote-span {
    font-size: 80%;
  }

  blockquote {
    padding: 0 .7em;
    color: #565e67;

    &[dir="rtl"] {
      border-right: 0.25em solid lightgray;
    }

    &[dir="ltr"] {
      border-left: 0.25em solid lightgray;
    }

    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    a.canopy-selectable-link {
      text-decoration: underline #D3D3D3;
    }
  }

  pre {
    margin: 10px 10px;
    background-color: #eff0f1;
    padding: 5px;
    font-size: 85%;
  }

  code {
    background-color: #eff0f1;
    font-size: 90%;
  }

  table {
    margin: 7px auto;
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    border: 2px solid black;

    td, th {
      border: 2px solid black;
      text-align: center;
      padding: 6px;
    }
  }

  .canopy-image {
    width: 220px;
    max-height: 250px;
  }

  div.canopy-image-div {
    float: right;
    border: 1px solid #c8ccd1;
    padding: 3px;
    background-color: #f8f9fa;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
    margin: 10px;
  }

  div.canopy-image-div > sup {
    display: block;
  }

  .canopy-url-link-span > svg {
    height: 15px;
    width: 12px;
    display: none;
  }

  .canopy-selected-link + svg, .canopy-url-link-span:hover > svg {
    display: inline-block;
    vertical-align: middle;
  }

  ol, ul {
    margin: 7px 10px;
  }

  div.canopy-raw-html {
    display: inline;
  }
}

#_canopy > section.canopy-topic-section {
  padding-top: 30px;
}
