node_modules/*
**/.DS_STORE
yarn-error.log
yarn.lock
TODO
dist
/test-results/
/playwright-report/
/playwright/.cache/
playwright/test_project/build
playwright/test_project/.canopy_bulk_backup_log
playwright/test_project/.canopy_bulk_last_session_files
