// Copyright Greenhouse Software 2017

#_canopy {
  padding-top: 25px;
}

#_canopy > h1 {
  text-align: center;
  margin-top: 10px;
}

#_canopy > section:first-child {
  padding-top: 5px;
}

#_canopy > section {
  padding-top: 5px;
}

#_canopy p {
  padding-bottom: 24px;
  font-size: 23px;
  width: 700px;
  margin: auto;

  line-height: 1.3;
  letter-spacing: -.003em;
  font-weight: 400;
}

#_canopy a {
  text-decoration: underline #DCDCDC;
  color: black;
  cursor: pointer;
}

#_canopy a:hover {
  text-decoration: underline;
}

/*#_canopy .canopy-global-link {
  text-decoration: underline #a8c3da;
}*/

#_canopy .canopy-global-link:hover {
  color: #4078c0;
}

#_canopy .canopy-url-link {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#_canopy .canopy-url-link:hover {
  color: #4078c0;
}

#_canopy .canopy-selected-link.canopy-global-link {
  color: #4078c0;
}

#_canopy .canopy-selected-link.canopy-url-link {
  color: #4078c0;
}

#_canopy .canopy-open-link {
  text-decoration: underline;
}

#_canopy .canopy-selected-link {
  text-shadow: .8px 0px 0px black;
}

a:focus {
  outline:0;
}
