#playground-container {
  display: flex;
  height: 95vh; // Sets the height relative to the viewport
  box-sizing: border-box;

  > div {
    flex: 1; // Ensures equal width distribution for direct children
    overflow: auto;
    box-sizing: border-box;
  }

  #editor-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    flex-grow: 2;

    #editor {
      flex-grow: 1;
      flex-basis: calc(70% - 10px); // Subtract margin from flex-basis
      background-color: #f2f9ff;
      font-size: 18px;
      overflow: auto;
      resize: none;
      margin-bottom: 25px; // Restored margin between editor and console
      border: 1px solid #bbb;
      padding: 5px;
    }

    #console {
      flex-grow: 1;
      flex-basis: calc(30% - 10px); // Subtract margin from flex-basis
      background-color: #f2f9ff;
      border: 1px solid #bbb;
      color: #333;
      font-size: 1.2em;
      font-family: "Courier New", Courier, monospace;
      padding: 5px;
      overflow-y: auto;    /* Allows vertical scrolling */
      white-space: normal; /* Ensures text wraps */
      word-wrap: break-word; /* Breaks long words to prevent horizontal overflow */

      &.error {
        background-color: #ffcccc;
      }
    }
  }

  #scrollable-container {
    overflow-y: auto; // Enable vertical scrolling
    border: 1px solid black;
    margin: 15px;
    flex-grow: 3;
    position: relative;
  }

  #_canopy {
    h1 {
      text-align: center; // for error h1
    }

    flex: 1;
    margin: 15px;
    box-sizing: border-box;
  }
}
